In [ ]:
import pandas as pd
df = pd.read_csv('https://github.com/jalammar/ml/raw/master/data/music.csv')

In [ ]:
df

           Artist Genre  Listeners     Plays
0  Billie Holiday  Jazz    1300000  27000000
1    Jimi Hendrix  Rock    2700000  70000000
2     Miles Davis  Jazz    1500000  48000000
3             SIA   Pop    2000000  74000000

In [ ]:
df['Artist']

0    Billie Holiday
1      Jimi Hendrix
2       Miles Davis
3               SIA
Name: Artist, dtype: object

In [ ]:
df[1:3]

         Artist Genre  Listeners     Plays
1  Jimi Hendrix  Rock    2700000  70000000
2   Miles Davis  Jazz    1500000  48000000

In [ ]:
df.loc[1:3, ['Artist']]

         Artist
1  Jimi Hendrix
2   Miles Davis
3           SIA

In [ ]:
df['Genre'] == 'Jazz'

0     True
1    False
2     True
3    False
Name: Genre, dtype: bool

In [ ]:
df[df['Genre'] == 'Jazz']

           Artist Genre  Listeners     Plays
0  Billie Holiday  Jazz    1300000  27000000
2     Miles Davis  Jazz    1500000  48000000

In [ ]:
df[df['Listeners'] > 1800000]

         Artist Genre  Listeners     Plays
1  Jimi Hendrix  Rock    2700000  70000000
3           SIA   Pop    2000000  74000000

In [ ]:
df_missing_value = df.copy()

In [ ]:
df_missing_value.at[1, 'Plays'] = None

In [ ]:
df_missing_value

           Artist Genre  Listeners       Plays
0  Billie Holiday  Jazz    1300000  27000000.0
1    Jimi Hendrix  Rock    2700000         NaN
2     Miles Davis  Jazz    1500000  48000000.0
3             SIA   Pop    2000000  74000000.0

In [ ]:
df_missing_value.dropna()

           Artist Genre  Listeners       Plays
0  Billie Holiday  Jazz    1300000  27000000.0
2     Miles Davis  Jazz    1500000  48000000.0
3             SIA   Pop    2000000  74000000.0

In [ ]:
df['AvgPlays'] = df['Plays'] / df['Listeners']

In [ ]:
df

           Artist Genre  Listeners     Plays   AvgPlays
0  Billie Holiday  Jazz    1300000  27000000  20.769231
1    Jimi Hendrix  Rock    2700000  70000000  25.925926
2     Miles Davis  Jazz    1500000  48000000  32.000000
3             SIA   Pop    2000000  74000000  37.000000